// COLORS
:root {
    // цвет фона
    --color-body: #e1eefd;

    --color-background: rgba(10, 25, 39, 0.4);

    --color-footer: rgb(10, 25, 39);

    //цвет шрифтов

    --color-text: #534c48;

    //цвет границ

    --color-border: #5f7682;

    --color-error: #f44e03;

}
